@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.Header {
  transition-timing-function: ease-in;
  transition: all 0.5s;

  h1 {
    font-family: 'Permanent Marker', cursive;
  }

  @media screen and (max-width: 600px) {
    .Links {
      display: none;
    }
    .Menu {
      display: block;
    }
  }


}


.Header_list {

  li {
    margin-left: 10px;

    &:hover {
      color: #5418c5;
    }
  }
}

.Menu {
  display: none;
}

